html {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  margin: 0 auto;

  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  font-family: "Lato", Arial, sans-serif;
  color: #848789;

  background-color: #edeef5;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.bg {
  width: 100%;
  height: auto;

  background-repeat: no-repeat;
  background-size: cover;
}

.main-header {
  min-height: 800px;
  padding-top: 35px;

  color: #4d4959;

  background-color: #edeef5;
  background-image: url(../img/header-bg.jpg);
  background-position: center center;
  background-size: cover;
}

.main-header__nav {
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

.main-header__nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-header__nav-list:nth-child(1) {
  justify-content: flex-end;
}

.main-header__nav-item {
  position: relative;

  padding: 34px;
}

.main-header__nav-logo {
  display: flex;
  justify-content: center;
  width: 154px;
}

.main-header__nav-logo img {
  width: 94px;
  height: 85px;
}

.main-header__nav-item a {
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #4d4959;
  text-transform: uppercase;
}

.main-header__nav-item a:hover {
  color: #161519;
}

.main-header__nav-item::before {
  content: "";
  position: absolute;
  top: 56px;
  right: -2px;

  width: 2px;
  height: 2px;

  background-color: #585464;
}

.main-header__nav-item:last-child::before {
  display: none;
}

.page-content {
  color: #848789;

  background-color: #f7f7f7;
}

.product-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 115px;
  padding-bottom: 115px;

  background-color: #f7f7f7;
}

.product-descr h2 {
  position: relative;

  margin: 0;
  margin-bottom: 24px;
  padding-top: 74px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.product-descr h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 52px;
  height: 43px;

  background-image: url(../img/chain-icon.png);
  background-repeat: no-repeat;
  transform: translate(-50%);
}

.product-descr p {
  width: 1080px;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  color: #848789;
}

.advantage {
  display: grid;
  justify-content: center;
  min-height: 600px;

  color: #848789;

  background-color: #ffffff;

  grid-template-columns: 2fr 1fr;
}

.advantage-img {
  position: relative;

  background-color: #616071;
  background-image: url(../img/bg-1-1.jpg);
}

.advantage-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.advantage--first .advantage-img::before {
  width: 113px;
  height: 118px;

  background-image: url(../img/bicycle-logo.png);
}

.advantage__descr-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}

.advantage__descr h2 {
  position: relative;

  margin: 0;
  margin-bottom: 15px;
  padding-top: 58px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.advantage__descr h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 41px;
  height: 30px;

  background-image: url("../img/carcass-icon.png");
  background-repeat: no-repeat;
  transform: translate(-50%);
}

.advantage__descr p {
  position: relative;

  width: 402px;
  margin: 0;
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  color: #848789;
}

.advantage__descr p::before {
  content: "";
  position: absolute;
  bottom: -108px;
  left: 50%;

  border: 10px solid transparent;
  border-top-color: #ffffff;
  transform: translate(-50%);
}

.advantage__descr p::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;

  width: 50px;
  height: 1px;

  background-color: rgba(53,55,56,0.2);
  transform: translate(-50%);
}

.advantage__descr-img {
  min-height: 200px;

  background-color: #928b90;
  background-image: url(../img/bg-1-2.jpg);
}

.advantage--second {
  grid-template-columns: 1fr 2fr;
}

.advantage--second .advantage__descr-img {
  background-image: url(../img/bg-2-2.jpg);
}

.advantage--second .advantage__descr h2::before {
  width: 32px;
  height: 32px;

  background-image: url(../img/star-icon.png);
}

.advantage--second .advantage-img {
  background-image: url(../img/bg-2-1.jpg);
}

.advantage--second .advantage-img::before {
  width: 177px;
  height: 152px;

  background-image: url(../img/vintage-logo.png);
}

.advantage--third {
  grid-template-columns: 1fr 1fr 1fr;
}

.advantage--third .advantage__descr-img {
  background-image: url(../img/bg-3-3.jpg);
}

.advantage--third .advantage__descr h2::before {
  width: 23px;
  height: 41px;

  background-image: url(../img/fork-icon.png);
}

.advantage--third .advantage-img:first-child {
  background-image: url(../img/bg-3-1.jpg);
}

.advantage--third .advantage-img:first-child::before {
  width: 208px;
  height: 67px;

  background-image: url(../img/bicycles-logo.png);
}

.advantage--third .advantage-img:last-child {
  background-image: url(../img/bg-3-2.jpg);
}

.advantage--third .advantage-img:last-child::before {
  display: none;
}

.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 150px;

  color: #848789;

  background-color: #f7f7f7;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.slider__item--second {
  display: none;
}

.slider__item--third {
  display: none;
}

.slider__item-title {
  position: relative;

  width: 534px;
  margin: 0;
  padding-top: 60px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #353738;
  letter-spacing: 0.1em;
}

.slider__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 32px;
  height: 27px;

  background-image: url(../img/twitter-icon-blue.png);
  background-repeat: no-repeat;
  transform: translate(-50%);
}

.slider__item-title span {
  font-weight: 300;
  color: #848789;
}

.slider__item p {
  width: 1080px;

  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #848789;
  font-style: italic;
}

.slider__control-list {
  position: absolute;
  bottom: 68px;
  left: 50%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100px;
  margin: 0;
  padding: 0;

  list-style-type: none;

  transform: translate(-50%);
}

.slider__control-item {
  width: 11px;
  height: 11px;
  margin-right: 10px;

  border: 1px solid #a9afb3;
  border-radius: 50%;
  cursor: pointer;
}

.slider__control-item:last-child {
  margin-right: 0;
}

.slider__control-item--active {
  background-color: #a9afb3;
}

.go-store {
  display: grid;
  min-height: 534px;

  color: #ffffff;

  background-color: #282f35;

  grid-template-columns: 1fr 1fr 1fr;
}

.go-store__saddle {
  display: grid;
}

.go-store__saddle-wrap {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.go-store__saddle-wrap .go-store__saddle-img:first-child {
  background-color: #c8c9ce;
  background-image: url(../img/bg-4-1.jpg);
}

.go-store__saddle-wrap .go-store__saddle-img:last-child {
  background-color: #a98a88;
  background-image: url(../img/bg-4-2.jpg);
}

.go-store__saddle-img:last-child {
  background-color: #92909f;
  background-image: url(../img/bg-4-3.jpg);
}

.go-store__rear {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.go-store__rear-img:first-child {
  background-color: #74646f;
  background-image: url(../img/bg-5.jpg);
}

.go-store__rear-img:last-child {
  background-color: #b3b7ca;
  background-image: url(../img/bg-6.jpg);
}

.go-store__shop {
  display: grid;

  grid-template-rows: 1fr 1fr;
}

.go-store__shop-link {
  background-color: #a4868c;
  background-image: url(../img/bg-8.jpg);
}

.go-store__shop-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: rgba(100,194,158,0.8);
}

.go-store__shop-link a:hover {
  background-color: rgba(100,194,158,0.7);
}

.go-store__shop-link span {
  position: relative;

  display: block;
  width: 200px;
  padding-top: 42px;

  text-align: center;
}

.go-store__shop-link span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 51px;
  height: 30px;

  background-image: url(../img/bike-icon.png);
  transform: translate(-50%);
}

.go-store__shop-wrap {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.go-store__shop-img:first-child {
  background-color: #eed5d0;
  background-image: url(../img/bg-7-1.jpg);
}

.go-store__shop-img:last-child {
  background-color: #706d83;
  background-image: url(../img/bg-7-2.jpg);
}

.discover-shop {
  display: flex;
  justify-content: center;
  padding: 75px 0;

  color: #ffffff;

  background-color: #282f35;
}

.discover-shop a {
  display: block;
  padding: 20px 55px;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  border: 1px solid rgba(255,255,255,0.5);
}

.discover-shop a:hover {
  background-color: rgba(0,0,0,0.2);
  border-color: #ffffff;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;

  color: #848789;

  background-color: #ffffff;
}

.feedback img {
  width: 94px;
  height: 85px;
  margin-bottom: 33px;
}

.feedback b {
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-style: italic;
}

.feedback__form input {
  width: 400px;
  height: 70px;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 30px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(146,146,146,0.8);

  background-color: #ffffff;
  border: 1px solid #d3d7d9;
}

.feedback__form input::placeholder {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(146,146,146,0.5);
  font-style: italic;
}

.feedback__form button {
  padding-top: 23px;
  padding-right: 45px;
  padding-bottom: 23px;
  padding-left: 45px;

  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #64c29e;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #f7f7f7;
  color: #848789;
}

.main-footer__contacts {
  width: 285px;

  color: #848789;
}

.main-footer__contacts b {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-footer__contacts p {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 534px;
}

.main-footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 136px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.main-footer__social-item {
  width: 35px;
  height: 35px;

  background-repeat: no-repeat;
}


.main-footer__social-item--tw {
  background-image: url(../img/social-twitter.png);
}

.main-footer__social-item--fb {
  background-image: url(../img/social-facebook.png);
}

.main-footer__social-item--pt {
  background-image: url(../img/social-pinterest.png);
}

.copyright {
  width: 285px;
}
